.img-size
{
    height: 150px!important;
    width: 208px!important;
}
.clr
{
    border-radius: 15px;
}
.heading
{
    border-radius: 5px;
}
.for-hover:hover
{
    transform: scale(1.1,1.08) translateY(-10px);
    transition: all 0.3s ;
}